.card-bl__item
    .image-wr

    .text-wr
        p catch big <b>deals</b> on the cameras
        a(href="#")
            b Shop now

.card-bl__item
    .image-wr
    
    .text-wr

        p tablets, smartphones <b>and more</b>
        a(href="#")


.card-bl__item
    .image-wr
    
    .text-wr

        p shop the <b>hottest</b> products
        a(href="#")
            b Shop now