// Font-size + function
$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

// Colors
$main-theme-color: #fed700;
$white: #fff;
$black: rgb(51, 62, 72);
$grey: rgb(234, 234, 234);
$bl-bg-grey: rgb(245, 245, 245);


// Fonts
$regular: "OpenSansRegular";
