header
    .header__top
        .container
            .row
                .header__top-left
                    include header-contacts
                .header__top-right
                    ul.header__info
                        li.header__info-list
                            a(href="#")
                                .header__info-item
                                    include ../../../img/svg/marker-little.svg
                                    | Store Locator
                        li.header__info-list
                            a(href="#")
                                .header__info-item
                                    include ../../../img/svg/track-order-little.svg
                                    | Track Your Order
                        li.header__info-list
                            a(href="#")
                                .header__info-item
                                    include ../../../img/svg/dollar-little.svg
                                    | Dollar (US)
                        li.header__info-list
                            a(href="#")
                                .header__info-item
                                    include ../../../img/svg/user-little.svg
                                    | Register <span class="grey__letter">or</span> Sign in
    .header__middle.container
        .row
            .header__logo
                a(href="#", class="header__logo-link")
                    include ../../../img/svg/logo.svg
            include header-search
            include header-navbar


    .header__nav