.header__search-wrap
    form(action="#", method="GET", class="header__search-form")
        input(type="search", class="search__input", placeholder="Search for products")
        .search__select-block
            select
                option(value="0") All Categories
                option(value="0") All Categoriesgfdgdfsgfdgfdsg
        button.search__button
            include ../../../img/svg/search.svg

