/* General */

.row__wr { background-color: $white;}
.row__wr:nth-child(even) { background-color: $bl-bg-grey;}

/* Content */

.row__wr
    .container {
        margin: 0 auto;
    }
.card-bl__item {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: $bl-bg-grey;
}
.card-bl__row-items--col-3 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: auto;
    width: 100%;
    margin-top: 30px;
}
.card-bl__row-items--col-3 {

    .card-bl__item {
        height: 193px;
        width: 370px;
    }
        .image-wr {
            height: 165px;
            min-width: 190px;
            max-width: 190px;
            margin-left: 10px;
        }
        .text-wr {
            padding-left: 25px;
            font-size: 18px;
            text-transform: uppercase;
            box-sizing: border-box;
        }
            a {
                display: inline-flex;
                position: relative;
                margin-top: 18px;
                padding-right: 25px;
                font-weight: bold;
                font-size: 15px;
                text-transform: capitalize;
                color: $black;
            }
            a:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                height: 17px;
                width: 17px;
                border-radius: 100%;
                background-color: $main-theme-color;
                /* background-image: url(../img/white-carret-right.); */
            }
                span {
                    font-weight: bold;
                    font-size: 22px;
                }