.header {

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 43px;
      border-bottom: 1px solid $grey;
      
      &-right {
        float: right;
      }
      
      &-left {
        float: left;
      }

    }

    &__contacts {
      display: flex;

      &-item {

        &:not(:last-child){
          margin-right: em(29);
        }

      }

      &-link {
        display: flex;
        color: $black;
        &:hover, &:active, &:focus {
          color: $black;
          text-decoration: none;
        }
      }

      &-icon {
        margin-right: em(10);
          svg {
            fill: $main-theme-color;
            width: 18px;
            height: 13px;
          }
      }

      &-text {
        font-size: em(13);
      }

    }

}

// header info
.header__info {
  display: flex;
  align-items: center;

    &-list {
        padding-right: em(23);
        padding-left: em(18);
        & a {
          font-size: em(13);
          color: $black;
          &:hover, &:active, &:focus {
            color: $black;
            text-decoration: none;
          }
        }
        &:not(:last-child){
          border-right: 1px solid #d9e1e1;
        }


    & svg {
      margin-right: em(8);
      display: inline-block;
    }
  }


}

.grey__letter {
  color: #959595;
}

// Header middle
.header__middle.container > .row {
  display: flex;
}
.header__middle {
  padding-top: 36px;
}

// Header Logo

.header__logo {
  width: 25%;
  padding-top: 5px;
}


// Header Search
.header__search-wrap {
  width: 50%;
}
.search__input {
  width: 400px;
  border-top-left-radius: 37px;
  border-bottom-left-radius: 37px;
  border: 2px solid $main-theme-color;
  display: block;
  font-size: em(15);
  color: rgb(160, 160, 160);
  padding-left: em(28);
  border-right: none;
  outline: none;
  &:focus {
    outline: none;
  }
}
.header__search-form {
  display: flex;
  height: 50px;
}
.search__select-block {
  height: 100%;
  display: flex;
  border-top: 2px solid $main-theme-color;
  border-bottom: 2px solid $main-theme-color;
  position: relative;
  cursor: pointer;
  padding-left: em(27);
  padding-right: em(27);
  & select {
    height: 100%;
    border: none;
    outline: none;
    font-size: em(15);
    color: rgb(107, 107, 107);
    line-height: em(28);
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

}
.search__select__arrow {
  padding-left: em(11);
  background-color: #fff;
  position: absolute;
  top: calc(50%);
  right: 0;

}
select::-ms-expand {
  display: none;
}

.search__button {
  padding: 0 em(27);
  border-top-right-radius: 37px;
  border-bottom-right-radius: 37px;
  background-color: $main-theme-color;
  border: 2px solid $main-theme-color;

}

// Header Navbar

.header__navbar {
  width: 25%;
  display: flex;
  align-items: center;
  & a {
    display: flex;
  }
  & .header__navbar-summary {
    position: relative;
  }
  & li.header__navbar-link {
    cursor: pointer;
    display: block;
    margin-left: em(38);
    position: relative;
    & .header__navbar-counter {
      position: absolute;
      border-radius: 50%;
      background-color: #fedf33;
      width: 21px;
      height: 21px;
      line-height: 20px;
      display: flex;
      justify-content: center;
      font-size: em(12);
      color: rgb(58, 69, 78);
      font-weight: 700;
      top: 8px;
      right: -9px;
    }
    & span.header__navbar-quantity-dollar {
      font-size: 10px;
      font-weight: bold;
      color: $black;
      height: 100%;
      display: inline-block;
      vertical-align: super;
    }

    & span.header__navbar-quantity-current {
      font-size: em(15);
      font-weight: bold;
      color: $black;
    }

  }
}



